@font-face {
    font-family: Yekan;
    src: url(Yekan.woff);
}

body {
    font-family: Yekan;
    overflow-x: hidden;
}

/**header**/
.header-div {
    background-color: #0c0f38;
    padding: 40px;
    direction: rtl;
}

.nav-div {
    direction: ltr;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #fdd430;
}

/**section 1**/
.sec1 {
    background-color: #0c0f38;
    padding-bottom: 20px;
}

.sec1 h1 {
    color: #fff;
    font-size: 50px;
    padding-bottom: 25px;
    font-weight: bold;
}

.sec1 span {
    color: #fdd430;
    font-size: 30px;

}

.sec1 p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    padding: 40px 0px;
}

.sec1 img:hover {
    transform: rotate(5deg)
}

/**section 2**/
.sec2 {
    background-color: #ffffff;
    direction: rtl;
    text-align: center;
    padding-bottom: 50px;

}

.sec2 h1 {
    color: #8308eb;
    font-size: 50px;
    padding-bottom: 25px;
    font-weight: bold;
}

.sec2 p {
    text-align: center;
    color: #000;
    font-size: 17px;

}

.sec2 a {
    color: #fff;
    text-decoration: none;
}

.sec2 button {
    background-color: #0c0f38;
}

.sec2 button:hover {
    background-color: #fdd430;
}

.sec2 img:hover {
    transform: rotate(-5deg)
}

/**app-section**/
.app-section {
    background-color: darkorchid;
    color: #0c0f38;
    text-align: center;
}

.app-section button {
    background-color: #ddd;
}

.app-section button:hover {
    background-color: #0c0f38;
}

.app-section a {
    text-decoration: none;
}

/**section 3**/
.sec3 {
    background-color: #fff;
    text-align: center;


}

.sec3-box {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 330px;
    box-shadow: #ddd 0px 0px 5px;
    color: #000;
}

.sec3-box:hover {
    transform: scale(1.1);
    background-color: #0c0f38;
    color: #fff
}

.sec3 h1 {
    color: #8308eb;
    font-size: 50px;
    padding-bottom: 25px;
    font-weight: bold;
}

/**section 4**/
.sec4 {
    background-color: #fff;
    direction: rtl;
    text-align: center;
    padding-bottom: 50px;

}

.sec4 h1 {
    color: #8308eb;
    font-size: 50px;
    padding-bottom: 25px;
    font-weight: bold;
}

.sec4 p {
    text-align: center;
    color: #000;
    font-size: 17px;

}

.sec4 a {
    color: #fff;
    text-decoration: none;
}

.sec4 button {
    background-color: #8308eb;
}

.sec4 button:hover {
    background-color: #fdd430;
}

.sec4 img:hover {
    transform: rotate(-5deg)
}

/** section 5**/
.sec5 {
    background-color: #0c0f38
}

.sec5 h1 {
    color: #fff
}


/**footer**/
footer {
    background-color: lightgray;
    text-align: right;
    color: #000;
    direction: rtl;
}

footer p {
    font-size: 14px;
}

footer div {
    padding: 20px;
    margin-top: 30px;
    color: #000
}
footer input{
    padding:10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
}
footer button {
    background-color: #fdd430;

}
footer button:hover {
    background-color: #0c0f38;
    color: #fff

}
.a-style{
    text-align: center;
}
.a-style a{
    color: #000;
    text-decoration:none;
}
.copy-right{
    text-align: center;
    background-color: #fff;
}

/**about**/
/**form**/
.team-form{
    background-color: #ffffff;    
    direction:rtl;
    text-align:center;
}
.team-form h1 {
    color: #8308eb;
    padding-top: 50px;
    padding-bottom: 25px;
    font-weight: bold;
}
#div-form{
    background-color:  #fff; 
}
.team-form form{
        background: #0c0f38;
        padding: 55px 55px;
        border-radius: 30px;
}
.input-style{
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: #ddd 0px 0px 1px;
    line-height: 2;
}
form button{
    background-color: #fdd430;
    color: #0c0f38;
    border: none;
    border-radius: 3px;
}
/**contact page**/
.cantact-div{
    direction: rtl;
    text-align: right;
    padding: 30px;
}
.cantact-div h2{
    color: #8308eb
}
.cantact-div h4{
    color: #0c0f38
}
/**map**/
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:75%;
    width:80%;
    position:absolute;
}
.contact-form{
    text-align: center;
    direction: rtl;
}
.contact-form h2{
    color: #8308eb;
    padding-bottom: 20px;
}
.contact-form button:hover{
    background-color: #8308eb;
}
@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (max-width: 575px) {
    #logo {
        text-align: center !important;
        padding-bottom: 25px;
    }

    body {
        text-align: center;
    }

    .sec5 img {
        width: 100px;
        height: 100px;

    }
    .aboutApp-div{
        margin-bottom: 150px;
    }
    .aboutApp-div img{
        display: none;
    }


}
